<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu exemplo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Menu exemplo.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header class="header-home">
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-menu-button style="color: white;"></ion-menu-button>
      </ion-buttons>
      <ion-title>Logo</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon class="icon-notifications" name="notifications"></ion-icon>
          <span *ngIf="notification" class="notification">•</span>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="div-content-header">
      <ion-item lines="none">
        <ion-avatar class="avatar-user" slot="start">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <div
          style="display: flex; flex-direction: column; gap: 5px; font-family: Arial, Helvetica, sans-serif !important;">
          <ion-label style="font-weight: bold; font-family: Arial !important;">{{user.name}}</ion-label>
          <ion-label [ngStyle]="{'color': user.colorLevel}" style="font-size: 0.7rem; font-family: Arial !important;">Nível {{user.level}}</ion-label>
        </div>
      </ion-item>
    </div>
    <div class="div-button-header">
      <ion-label style="display: flex; align-items: center;">
        <ion-icon class="icon-circle" name="body"></ion-icon>
        MEU CORPO
      </ion-label>
      <ion-label style="display: flex; align-items: center;">
        <ion-icon class="icon-circle" name="trophy"></ion-icon>
        OBJETIVOS E CONQUISTAS
      </ion-label>
    </div>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="content-div">
    <h1 class="h1-title-slide">
      PERSONAL ONLINE
      <ion-icon style="font-size: 0.7rem; margin-bottom: 5px;" class="icon-circle" name="add-outline"></ion-icon>
    </h1>
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <div class="div-absolute-slide">
          <ion-icon class="icon-circle-white" name="add-outline"></ion-icon>
          <div style="display: flex; flex-direction: column;text-align: start;">
            <ion-label style="margin-bottom: -5px;">NOVO</ion-label>
            <ion-label>TREINO</ion-label>
          </div>
        </div>
        <ion-card class="card-slide">
          <img [src]="img" alt="">
        </ion-card>
      </ion-slide><ion-slide>
        <ion-card class="card-slide">
          <img [src]="img" alt="">
        </ion-card>
      </ion-slide>
      <ion-slide>Slide 3</ion-slide>
    </ion-slides>

    <h1 class="h1-title-slide">
      PROGRAMAS
      <ion-label class="label-circle">NOVO</ion-label>
    </h1>
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <div class="div-absolute-text">
          <div style="display: flex; flex-direction: column;text-align: start;">
            <ion-label style="font-size: 0.6rem; color: #e57c09;">continuar treinando</ion-label>
            <ion-label style="font-size: 1.1rem;">LEVANTAMENTO DE PESO</ion-label>
          </div>
        </div>
        <ion-card class="card-slide card-slide-show">
          <img [src]="img" alt="">
        </ion-card>
      </ion-slide><ion-slide>
        <ion-card class="card-slide card-slide-show">
          <img [src]="img" alt="">
        </ion-card>
      </ion-slide>
      <ion-slide>Slide 3</ion-slide>
    </ion-slides>

    <h1 class="h1-title-slide" style="opacity: 0.2;">
      CONTEÚDOS
    </h1>
    <ion-slides style="opacity: 0.2;" [options]="slideOpts">
      <ion-slide>
        <ion-card class="card-conteudo">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAADICAMAAAA9W+hXAAAAA1BMVEX/fwCxRWwOAAAANElEQVR4nO3BMQEAAADCoPVP7WsIoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeAN1+AABVhDU2QAAAABJRU5ErkJggg=="
            alt="">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-conteudo">
        </ion-card>
      </ion-slide>
      <ion-slide>Slide 3</ion-slide>
    </ion-slides>
  </div>

  </ion-content>
</div>